body{
    text-align: center;
    background-color: darkturquoise;
}
.line{
    width: 70px;
    height: 7px;
    background-color: black;
    margin: auto;
}
img{
    transition:transform .2s;
}
img:hover{
    transform: scale(.7);
}